<div class="container">
    <div class="hero__container">
        <div class="hero__content">
            <div class="left">
                <h1 class="hero__title">Adquiere tu conexión a Internet por tiempo</h1>
                <p class="hero__subtitle">Te ofrecemos diferentes opciones de tiempo para que elijas la que mejor se
                    adapte a tus necesidades
                    y presupuesto.</p>
                <div class="hero__btn">
                    <a class="btn" href="#">Ingresar</a>
                    <a class="btn-secondary" href="#">Registrate</a>
                </div>
            </div>
            <div class="right">
                <div class="hero__image">
                    <img src="../../../../../assets/img/man.svg" alt="Hero Image">
                </div>
            </div>
        </div>

    </div>
</div>