<div class="about__container">
    <div class="about__content container">
        <div class="left">
            <h2 class="about__title">{{title}}</h2>
            <p class="about__subtitle">¿Quienes somos?</p>
            <p class="about__text">
                {{content}}
            </p>
            <a href="" class="about__btn btn">
                Saber más
            </a>
        </div>
        <div class="right">
            <div class="about__image">
                <img src="../../../../../assets/img/about.svg" alt="Hero Image">
            </div>
        </div>
    </div>
</div>