<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row">
        <div class="col-xl-3 col-lg-6" *ngFor="let pack of packsToBuy">
          <div
            class="card card-stats mb-4 mb-xl-0 btn-outline-success"
            (click)="buy(pack?.id)"
            style="cursor: pointer"
          >
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    {{ pack?.title }}
                  </h5>
                  <span class="h2 font-weight-bold mb-0"
                    >${{ pack?.price }}</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row" >
    <div class="col-xl-12 mb-5 mb-xl-0" *ngIf="(packs?.packs! == undefined || packs?.packs?.length! == 0) && !isLoading">
      <app-content-not-available [title]="'Contenido no disponible'" [text]="'Compra algún paquete para ver la grafica de tu consumo'"></app-content-not-available>
    </div>
    <div class="col-xl-12 mb-5 mb-xl-0" *ngIf="packs?.packs?.length! != 0">
      <div class="card bg-gradient-default shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-light ls-1 mb-1">Overview</h6>
              <h2 class="text-white mb-0">Sales value</h2>
            </div>
            <div class="col">
              <ul class="nav nav-pills justify-content-end">
                <li
                  class="nav-item mr-2 mr-md-0"
                  data-toggle="chart"
                  data-target="#chart-sales"
                  (click)="updateOptions()"
                >
                  <a
                    href="javascript:void(0)"
                    class="nav-link py-2 px-3"
                    [ngClass]="{ active: isActiveMonthChart === true }"
                    data-toggle="tab"
                  >
                    <span class="d-none d-md-block">Month</span>
                    <span class="d-md-none">M</span>
                  </a>
                </li>

<!--                 <li
                  class="nav-item"
                  data-toggle="chart"
                  data-target="#chart-sales"
                  (click)="updateOptions()"
                >
                  <a
                    href="javascript:void(0)"
                    class="nav-link py-2 px-3"
                    [ngClass]="{ active: isActiveWeekChart === true }"
                    data-toggle="tab"
                  >
                    <span class="d-none d-md-block">Week</span>
                    <span class="d-md-none">W</span>
                  </a>
                </li> -->

              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <!-- Chart wrapper -->
            <canvas id="chart-sales" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
